<!DOCTYPE html>
<html>

<head>
    <title>MY first Website</title>
</head>

<body>
    <h1> This is hi heading</h1>
    <h2> This is just a game bro</h2>
    <h3> hey my name is khan </h3>
    <hr>
    <p>
        some text goes here 
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente pariatur veritatis animi. Atque repellendus architecto et dolor nihil iste nulla deleniti dolores, neque voluptate quaerat labore repellat veritatis iusto. Delectus?
    </p>
</body>



</html>